<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meal Tracker</title>
</head>
<body>
  <div class="container">
    <h1>Meal tracker App</h1>
    <div class="row">
      <div class="col-md-6">
        <app-goal-form></app-goal-form>
      </div>
      <div class="col-md-6">
       <card *ngFor="let mealentry of mealentrys, let i=index">
         <p>{{mealentry.foodName}}</p>
         <p>{{mealentry.calories}}</p>
       </card>

      </div>
    </div>
  </div>
</body>
</html>